In [2]:
# python basic Data Type

In [3]:
# numbers *(int,float)
# string *(str)
# list *
# dict *
# tuple
# sets 
# bool *

In [ ]:
# Numbers

In [4]:
#Add
a = 1+2

In [5]:
print(a)

3

In [8]:
# Modulo

a = 15%2
print("Mod is : ",a)

Mod is :  1

In [14]:
#powers
#2**3
2**16

65536

In [1]:
# Exponent
2e2

200.0

In [13]:
import time
a = 2e2 # = (2 * 10power2)
print(a)
time.sleep(10)
a= 4e4 # = (4 * 10power4)
print(a)

200.0
40000.0

In [15]:
# Variable assignment

In [16]:
a = "10"
type(a)

str

In [17]:
a = 10
type(a)

int

In [18]:
a = 10.0
type(a)

float

In [19]:
# address of a
id(a)

4339558632

In [21]:
# Strings:are ordered sequnce

In [23]:
a = "This ia a new book"
print(a)

This ia a new book

In [24]:
a[0]

'T'

In [25]:
# first to last  
a[0:]

'This ia a new book'

In [28]:
# first to n-1
a[0:4]

'This'

In [31]:
# start at (s) to (b)
a[3:15]

's ia a new b'

In [39]:
# Reverse a string
a[::-1]

'koob wen a ai sihT'

In [49]:
#last letters
a[:14:-1]

'koo'

In [29]:
len(a)

18

In [40]:
print("Hello \nWorld")

Hello
World

In [41]:
print("Hello \tWorld")

Hello 	World

In [42]:
print("Hello \n\tWorld")

Hello
	World

In [43]:
# String Properties and Methods

In [44]:
# String immutablity

In [51]:
# String Concat
a = "Hello World"+" " +"Jack"
print(a)

Hello World Jack

In [55]:
# Methods
a = "Hello WOrld"
a.capitalize()

'Hello world'

In [56]:
a = "Hello WOrld"
a.lower()

'hello world'

In [57]:
a = "Hello WOrld"
a.upper()

'HELLO WORLD'

In [15]:
a = "The Quick brown fox jumps over a lazy fox"
a.split()

['The', 'Quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'fox']

### String Formatting

In [60]:
#.format method 
print("This is a string {}".format("Jack"))

This is a string Jack

In [62]:
print("The {1} {0} {2}".format("brown","quick","fox"))

The quick brown fox

In [64]:
name = "jack" 
empno = 100
print("Name is {a} and Emp No is {b}".format(a=name,b=empno))

Name is jack and Emp No is 100

In [76]:
result = 100/777

# formatting float values
print("The value is {r}".format(r = result))
print("The value is {r:1.3f}".format(r = result))
print("The value is {r:1.5f}".format(r = result))

The value is 0.1287001287001287
The value is 0.129
The value is 0.12870

In [77]:
# fstring method
name = "jack"
age = 28
print(f"{name} is {age} old")

jack is 28 old

# list in python

In [108]:
#list: is a ordered sequences that can hold a variety of aboject types 
#lists: are mutable

In [79]:
l = [1,2,"s","a",10,5]

In [80]:
l

[1, 2, 's', 'a', 10, 5]

In [81]:
len(l)

6

In [91]:
myList = ["one","two","three"]

In [83]:
myList[:]

['one', 'two', 'three']

In [84]:
myList[0]

'one'

In [85]:
myList[2]

'three'

In [86]:
myList[::-1]

['three', 'two', 'one']

In [87]:
for i in myList:
    print(i)

one
two
three

In [92]:
# list concat 
l1 =  myList + ["FOUR","FIVE","SIX"]

In [93]:
l1

['one', 'two', 'three', 'FOUR', 'FIVE', 'SIX']

In [94]:
l1[0] = 1

In [20]:
lx = list(range(10))

In [22]:
lx.extend([23,45])

In [23]:
lx

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 23, 45]

In [96]:
# append
myList.append(4)

In [97]:
myList

['one', 'two', 'three', 4]

In [98]:
myList.pop(3)

4

In [99]:
myList

['one', 'two', 'three']

In [101]:
myList.pop(0)

'one'

In [102]:
myList

['two', 'three']

In [103]:
myList.insert(0,"one")

In [104]:
myList

['one', 'two', 'three']

In [24]:
mynums = [1,5,6,2,4,3]

In [27]:
mynums.sort(reverse=True)

In [25]:
mynums.sort()

In [28]:
mynums

[6, 5, 4, 3, 2, 1]

## Dictionary

In [ ]:
#dictnary does not keep order

In [110]:
d = {"One":1,"Two":2,"Three":3}

In [111]:
d

{'One': 1, 'Three': 3, 'Two': 2}

In [112]:
d["One"]

1

In [113]:
d["Three"]

3

In [114]:
d["four"] = 4

In [115]:
d

{'One': 1, 'Three': 3, 'Two': 2, 'four': 4}

In [116]:
d.pop("four")

4

In [117]:
d

{'One': 1, 'Three': 3, 'Two': 2}

In [30]:
d1 = {"k1":1,"k2":[0,1,2]}

In [31]:
d1["k2"][::-1]

[2, 1, 0]

In [125]:
d1["k2"][::-1]

[2, 1, 0]

In [126]:
d2 = {"k1":1,"k2":[1,3,4,5,6,10],"k3":{"kx":[1,23,14]}}

In [127]:
d2["k2"]

[1, 3, 4, 5, 6, 10]

In [138]:
d2["k2"][::1]

[1, 3, 4, 5, 6, 10]

In [140]:
d2["k3"]["kx"][::-1]

[14, 23, 1]

In [141]:
d = {"One":1,"Two":2,"Three":3}

In [143]:
for i in d.values():
    print(i)

1
2
3

In [144]:
for i in d.keys():
    print(i)

One
Two
Three

In [145]:
for k,v in d.items():
    print(k,"---",v)

One --- 1
Two --- 2
Three --- 3

# Tuples

In [155]:
# tuples: similar to list but imutable

In [33]:
t = (1,2,3,4,4,4,4,"A","A")

In [32]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [37]:
t.count(3)

1

In [49]:
t.index(4)
#t.index()

3

In [159]:
for i in t:
    print(i)

1
2
3
4
4
4
4
A
A

In [160]:
t[0]

1

In [161]:
t[::]

(1, 2, 3, 4, 4, 4, 4, 'A', 'A')

In [162]:
t[::-1]

('A', 'A', 4, 4, 4, 4, 3, 2, 1)

In [163]:
t[2:]

(3, 4, 4, 4, 4, 'A', 'A')

In [164]:
t.count(1)

1

In [165]:
t.count(4)

4

In [166]:
t.count("A")

2

In [167]:
t.index("A")

7

In [168]:
len(t)

9

# Sets

In [170]:
# Sets: unorderd collection of unique elemets

In [171]:
myset = set()

In [174]:
myset.add(1)

In [175]:
myset

{1}

In [176]:
myset.add(2)

In [177]:
myset

{1, 2}

In [178]:
ls = [1,1,1,3,3,6,6,79,78,79]

In [182]:
myset = set(ls)

In [183]:
myset

{1, 3, 6, 78, 79}

In [184]:
del mys

In [185]:
# for loop:

In [189]:
l = list(range(0,10))
for i in l:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [191]:
n = 0
while n < 5:
    print("jack")
    n = n+1

jack
jack
jack
jack
jack

In [ ]:
#continue: moves to the top of the closest enclosing loop
# break: breaks out of the closest enclosing loop
#pass : does not do anythig

In [196]:
x = "the quick brown fox"
for letter in x:
    if letter == "w":
        continue
    else:
        print(letter)

t
h
e

q
u
i
c
k

b
r
o
n

f
o
x

In [195]:
x = "the quick brown fox"

for letter in x:
    if letter == "w":
        break
    else:
        print(letter)

t
h
e

q
u
i
c
k

b
r
o

In [199]:
x = "the quick brown fox"

for letter in x:
    if letter == "w":
        pass
    else:
        print(letter)

t
h
e

q
u
i
c
k

b
r
o
n

f
o
x

In [10]:
x = (x for x in range(10))

In [11]:
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
x = [x for x in range(10)]

In [13]:
type(x)

list

In [14]:
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9