##  Python DataBase Programming

In [1]:
# Python DataBase programming

In [2]:
# standard steps from database programming

In [3]:
#1 import database specfic module
#ie : import cx_Oracle

In [5]:
#2 Create a Connection Object()
# con cx_Oracle.connect("....")

In [ ]:
#3 To excute sql query spl obj required, created using cursor
#ie cursor = con.cursor()

In [ ]:
#4 excution
# cursor.excute(sqlquery)
# cursor.excutescript(sqlquery)
# cursor.excutemany(sqlquery,records-tuple) ---> for paramerteized query

In [ ]:
#5 get data from cursor
# curso.fetchone()
# cursor.fetchall()
# cursor.fetchmany(n)

In [ ]:
#6 Non select query
# con.commit()
# con.rollback()

In [ ]:
# close resourses
# cursor.close()
# con.close()

# Oracle

In [9]:
#not available by default 
import cx_Oracle as ora

In [11]:
try:
con = ora.connect("scott/tiger@localhost")
if con != None:
    print("Connected....")
else:
    print("Not Connected")

#drop table <emp>    
query = "create table emp (eno number,ename varchar2(10),esal number,eaddr varchar2(20)"
cursor = con.Cursor()
cursor.execute(query)
except cx_Oracle:
    print("")
finally:  
    if cursor:
        cursor.close()
    if con:
        con.close()

DatabaseError: DPI-1047: 64-bit Oracle Client library cannot be loaded: "dlopen(libclntsh.dylib, 1): image not found". See https://oracle.github.io/odpi/doc/installation.html#macos for help

In [13]:
query = "create table emp (eno number,ename varchar2(10),esal number,eaddr varchar2(20)"
cursor.execute(query)

In [14]:
print(query)

create table emp (eno number,ename varchar2(10),esal number,eaddr varchar2(20)

In [ ]:
# insert values into db
try:
con = ora.connect("scott/tiger@localhost")
if con != None:
    print("Connected....")
else:
    print("Not Connected")

#drop table <emp>    
query = "insert into emp values (10,'jack',100000,'Hyd')"
cursor = con.Cursor()
cursor.execute(query)
con.commit()# dml operation
except cx_Oracle.DatabaseError as e
    print("Error",e)
finally:  
    if cursor:
        cursor.close()
    if con:
        con.close()

In [ ]:
ora.makedsn()

In [ ]:
#many rec
# parameterzid quries
#query = "insert into emp values (:eno,:ename,:esal,:eaddr)"
#records = [(10,'jack',100000,'adr1'),(11,'jill',100000,'adr2'),(12,'jane',100000,'adr3')]
#cursor.executemany(query,records)